// .blog {

  .formStyle { 
    background-color: #8f8f8f;
    padding: 5px; 
    width: auto; 
    margin-bottom: 5px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
  }
  
  .formButton {
    background-color:#494949;
    display:inline-block;
    color:#ececec;
    font-size:12px;
    font-weight: 500;
    padding:6px 24px;
    margin-top: 15px;
    margin-right: 60px;
    text-decoration:none;
  }
  
  .formButton:hover {
    background-color: #bd1220;
    color:#ffffff;
  }
  
  .formButton:active {
    position:relative;
    top:3px;
  }
  
  input:focus {
    outline: none;
  }
  
   ::-webkit-input-placeholder {
     color: #ecf0f1;
  }
  
  :-moz-placeholder { 
     color: #ecf0f1;  
  }
  
  ::-moz-placeholder { 
     color: #ecf0f1;  
  }
  
  :-ms-input-placeholder {  
     color: #ecf0f1;  
  }

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



.blog {
  overflow: hidden;
}

.blog__item {
  margin-bottom: 70px;
}

.blog__item__pic {
  height: 385px;
  position: relative;
}
.blog__item__pic .blog__pic__inner {
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: calc(100% - 40px);
  padding: 30px 0 0;
}
.blog__item__pic .blog__pic__inner .label {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  background: #bd1220;
  display: inline-block;
  padding: 4px 15px 2px;
}

.blog__item__pic .blog__pic__inner ul {
  display: inline-block;
  margin-left: 25px;
}
.blog__item__pic .blog__pic__inner ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.blog__item__pic .blog__pic__inner ul li span {
  color: #111111;
}
.blog__item__pic .blog__pic__inner ul li:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "|";
}
.blog__item__pic .blog__pic__inner ul li:last-child {
  margin-right: 0;
}
.blog__item__pic .blog__pic__inner ul li:last-child:after {
  display: none;
}

.blog__item__text {
  padding-top: 42px;
}
.blog__item__text h2 {
  font-family: "Playfair Display", serif;
  color: #111111;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 48px;
}
.blog__item__text p {
  color: #444444;
  margin-bottom: 26px;
}
.blog__item__text a {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 2px solid #f08632;
}

.blog__sidebar__search {
  margin-bottom: 65px;
}
.blog__sidebar__search form {
  position: relative;
}
.blog__sidebar__search form input {
  height: 50px;
  width: 100%;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  border: 1px solid #e1e1e1;
}
.blog__sidebar__search form input::-webkit-input-placeholder {
  color: #444444;
}
.blog__sidebar__search form input::-moz-placeholder {
  color: #444444;
}
.blog__sidebar__search form input:-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__search form input::-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__search form input::placeholder {
  color: #444444;
}
.blog__sidebar__search form button {
  font-size: 18px;
  color: #111111;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
}

.blog__sidebar__item {
  margin-bottom: 65px;
}
.blog__sidebar__item:last-child {
  margin-bottom: 0;
}

.blog__sidebar__item h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  margin-bottom: 35px;
}
.blog__sidebar__item h5:before {
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 10px;
  background: #bd1220;
  content: "";
}
.blog__sidebar__item .blog__sidebar__social a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: #353535;
  line-height: 46px;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.blog__sidebar__item .blog__sidebar__social a:hover {
  background: #bd1220;
  color: #ffffff;
}
.blog__sidebar__item .blog__sidebar__social a:last-child {
  margin-right: 0;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li {
  list-style: none;
  line-height: 36px;
  overflow: hidden;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li:hover a {
  text-decoration: line-through;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li:hover a span {
  color:#bd1220;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li a {
  font-size: 16px;
  color: #444444;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li a span {
  float: right;
}
.blog__sidebar__item p {
  margin-bottom: 25px;
}
.blog__sidebar__item form input {
  height: 50px;
  width: 100%;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.blog__sidebar__item form input::-webkit-input-placeholder {
  color: #444444;
}
.blog__sidebar__item form input::-moz-placeholder {
  color: #444444;
}
.blog__sidebar__item form input:-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__item form input::-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__item form input::placeholder {
  color: #444444;
}
.blog__sidebar__item form label {
  font-size: 14px;
  color: #444444;
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 22px;
  display: block;
}
.blog__sidebar__item form label input {
  position: absolute;
  visibility: hidden;
}
.blog__sidebar__item form label input:checked ~ .checkmark {
  border-color: #bd1220;
}
.blog__sidebar__item form label input:checked ~ .checkmark:after {
  opacity: 1;
}
.blog__sidebar__item form label .checkmark {
  position: absolute;
  left: 0;
  top: 3px;
  height: 14px;
  width: 14px;
  border: 1.5px solid #888888;
  content: "";
  border-radius: 2px;
}
.blog__sidebar__item form label .checkmark:after {
  position: absolute;
  left: 1px;
  top: -3px;
  width: 14px;
  height: 7px;
  border: solid #bd1220;
  border-width: 1.5px 1.5px 0px 0px;
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg);
  content: "";
  opacity: 0;
}

.blog__sidebar__recent .blog__sidebar__recent__item:last-child {
  margin-bottom: 0;
}

.blog__sidebar__recent__item {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.blog__sidebar__recent__item__pic {
  float: left;
  margin-right: 25px;
}

.blog__sidebar__recent__item__text {
  overflow: hidden;
}
.blog__sidebar__recent__item__text h4 {
  font-size: 20px;
  color: #111111;
  line-height: 26px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin-bottom: 8px;
}
.blog__sidebar__recent__item__text span {
  font-size: 12px;
  color: #888888;
}

.blog-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 640px;
}

.blog__hero__text {
  background: #ffffff;
  text-align: center;
  padding: 50px 20px 45px;
}
.blog__hero__text .label {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  background: #111111;
  display: inline-block;
  padding: 4px 15px;
}
.blog__hero__text h2 {
  font-size: 46px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  color: #111111;
  margin: 20px 0;
}
.blog__hero__text ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.blog__hero__text ul li:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "|";
}
.blog__hero__text ul li span {
  color: #111111;
}
.blog__hero__text ul li:last-child {
  margin-right: 0;
}
.blog__hero__text ul li:last-child:after {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  
  .blog__details__recipe {
    padding: 25px 40px 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .blog__sidebar {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 767px) {

  .blog__sidebar {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 479px) {
  
  .blog__item__pic .blog__pic__inner ul {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }

}

.blog__item__text a {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 2px solid #bd1220; }

